@import url('~/assets/css/variables.css');

* {
  font-family: 'DM Sans', sans-serif;
}

body {
  background-color: var(--primary-background-color);
}

.fixed {
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.footer-toggle {
  transform: translateY(0);
}
